---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-6.jpg"
>
  <p>
    About Ken I have always admired musicians, artists and poets. Through their
    songs, paintings, and poetry, they create feelings which touch one's heart
    and soul. I wanted to find my own artistic outlet as an expression of my
    creativity, feelings and connection to the natural world. I was fortunate to
    take a workshop with Eddie Soloway in Santa Fe about 12 years ago. In our
    one to one meeting, he recommended that I take a workshop with Nancy
    Rotenberg. At the time I was not aware that I was about to meet one of the
    most influential people in my life. Nancy became a mentor and friend, and
    she has had a profound influence on helping me create images that reflect an
    expression of my vision. Nancy left this world having touched the hearts and
    souls of so many. My heartfelt gratitude to Nancy for sharing her passion
    for photography as art, seeing the beauty in nature and people, for teaching
    me how to "dance" with heart and most of all for being an inspirational and
    loving friend. Until we meet again sweet friend. I am on a continuous path
    to deepen my spirituality, my appreciation of nature's wonders and magic and
    to live life with passion and love. My images are a reflection of my
    journey.
  </p>
</Layout>
