---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import PhotoGallery from "../components/Gallery";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="hero flex flex-row">
        <!-- <img
          src="/ken.jpg"
          alt="Ken Sklar"
          class="w-[200px] h-[200px] bg-cover rounded-full"
        /> -->
      </div>
      <PhotoGallery client:load />
    </main>
    <Footer />
  </body>
</html>
